*{
	box-sizing: border-box;
}
body{
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.3em;
	color: #333333;
	background-color: #fefefe;
}
div {
	/* outline: 1px solid red; */
}
header{
	min-height: 33vh;
	max-width: 100vw;
}
h1, h2, h3, h4, h5, h6{
	display: block;
	font-family: 'Arvo', Georgia, 'Times New Roman', serif;
	margin: 10px 0;
}
h1{
	font-size: 200%;
	line-height: 110%;
	font-weight: bold;
}
h2{
	font-size: 150%;
	font-weight: bold;
}
h3{
	font-size: 120%;
	font-weight: normal;
}
.container{
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 100vw;
	overflow: hidden;
	padding: 10px;
}
p{
	display: block;
	margin: 0;
}

/**** HEADER ****/
nav{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100vw;
	max-width: 100vw;
	height: 32px;
	max-height: 40px;
	overflow: hidden;
	background-image: linear-gradient(90deg, #fefefe, #fefefebb);
}
nav ul{
	display: flex;
	max-width: 100vw;
	margin: 0;
	padding: 0;
	justify-content: space-around;
	align-content: space-between;
	align-items: center;
}
nav li{
	display: inline-flex;
	list-style: none;
}
nav li a{
	font-size: 66%;
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px;
	margin:auto;
	color: #9D6A06;
}
nav li a:hover{
	color: #333333;
	background-color: #DD9707;
}

header .container{
	margin-top: 32px;
	padding: 20px;
	padding-bottom: 10px;
	flex-flow: row;
	background-image: linear-gradient(135deg, #DD9707ff, #DD9707cc);
	color: #fefefe;
}

.intro{
	display: flex;
	flex-direction: column;
	flex: 4 1 50vw; 
	justify-content: space-around;
	max-width: 66vw;
}
.deck {
	text-transform: uppercase;
}
.profile{
	display: flex;
	flex: 1 4 33vw; 
	max-width: 33vw;
	flex-direction: column;
	justify-content: space-around;
}
.profile img{
	border: 3px solid #fefefe;
	border-radius: 50%;
	margin-top: 10px;
}
.profile ul {
	list-style: none;
	padding: 0;
}
.profile li {
	list-style: none;
	padding: 5px;
	width: 100%;
	max-width: 30px;
	height: auto;
	max-height: 30px;
	border: 0;
	border-radius: 50%;
	background-color: #f2f2f2;
	text-align: center;
}
.social-follow{
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}
.social-buttons {
	color: #DD9707;
}

/**** SKILLSETS ****/
.skills h2, .stacks h2, .langs h2, .academic h2, .experiences h2{
	border-left: 4px solid #DD9707;
	padding: 10px 6px;
}
.skill, .stack, .langs, .academic, .experiences{
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	padding: 10px;
}
.skills{
	background-image: linear-gradient(135deg, #F9F6EEff, #FFF5EEcc);
	/* background-image: linear-gradient(135deg, #F9F6EEff, #ff0000cc); */
}
.stacks{
	background-image: linear-gradient(225deg, #FFF5EEcc, #F9F6EEff);
	/* background-image: linear-gradient(225deg, #FF0000cc, #F9F6EEff); */
}
.langs{
	background-color: #F0EAD6;
}
.langs h2, .academic h2, .experiences h2{
	width: 100vw;
}
.lang {
	display: inline-flex;
	width: 50%;
	padding: 10px;
	justify-content: space-between;
	align-items: center;
}
.lang img{
	min-width: 33%;
	max-width: 33%;
	height: auto;
	max-height: 15%;
	margin-right: 10px;
	border-radius: 50%;
}
.lang p{
	font-size: 75%;
}
.level{
	padding: 5px;
	font-weight: bold;
}

.experiences{
	background-image: linear-gradient(135deg, #F9F6EEff, #FFF5EEcc);
}
.xp {
	display: inline-flex;
	width: 100%;
	padding: 10px;
	justify-content: space-between;
	align-items: flex-start;
}
.xp img{
	min-width: 25%;
	max-width: 25%;
	height: auto;
	max-height: 15%;
	margin-right: 10px;
	border: 1px solid #f2f2f2;
	border-radius: 50%;
/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 0px 13px 0px rgba(51, 51, 51, 0.3);}
.job{
	padding: 5px;
}
.job ul {
	margin: auto 0;
	padding-left: 15px;;
}
.job ul li{
	margin-bottom: 5px;
}
.academic{
	justify-content: flex-start;
}
.academic h3{
	margin-top: 10px;
	margin-bottom: 0;
}
.academic div {
	display: flex;
	width: 100%;
}
.degree, .institution {
	width: 50%;
	flex-flow: column;
	justify-content: flex-end;
	padding: 10px;
}
.institution p{
	text-align: end;
}
.degree-title{
	font-size: 75%;
	line-height: 100%;
	text-transform: uppercase;
}

/**** FOOTER ****/
footer{
	display: block;
	width: 100vw;
	max-width: 100vw;
	overflow: hidden;
	background-image: linear-gradient(225deg, #DD9707ff, #DD9707cc);
}
footer h2{
	border-left: 4px solid #fefefe;
	padding: 10px 6px;
}
footer ul{
	display: flex;
	max-width: 100vw;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	justify-content: space-between;
	align-content: space-between;
	align-items: center;
}
footer li{
	display: inline-flex;
	list-style: none;
	/* border: 1px solid red; */
}
footer li a{
	font-size: 66%;
	text-decoration: none;
	padding: 5px 10px;
	color: #333333;
}
footer i{
	min-width: 20px;
	min-height: 20px;
	max-width: 20px;
	max-height: 20px;
	padding: 5px 0;
	margin-right: 5px;
	text-align: center;
	border-radius: 50%;
	color: #DD9707;
	background-color: #fefefe;
}
footer li a:hover{
	color: #333333;
	background-color: #DD9707;
}
footer form{
	margin: 10px auto;
	padding: 10px;
}
.form-identification{
	display: flex;
	justify-content: space-between;
}
form input[type=text], input[type=email]{
	width: 33%;
	max-width: 33%;
}
.form-message{
	margin-top: 10px;
}
form textarea{
	width: 99%;
}

/**** MEDIA QUERIES ****/

@media only screen and (min-width: 361px) and (max-width: 768px) {
	body{
		line-height: 1.4em;
	}
	div {
		/* outline: 1px solid red; */
	}
	h1{
		font-size: 300%;
		line-height: 120%;
	}
	h2{
		font-size: 200%;
	}
	
	/*** HEADER ***/
	nav ul{
		margin: auto 0;
	}
	nav li a{
		font-size: 75%;
		padding: 5px;
		margin:auto;
		color: #9D6A06;
	}
	nav li a:hover{
		color: #333333;
		background-color: #DD9707;
	}
	header .container{
		margin-top: 32px;
		padding: 20px;
		padding-bottom: 10px;
		flex-flow: row;
		background-image: linear-gradient(135deg, #DD9707ff, #DD9707cc);
		color: #fefefe;
	}
	.intro{
		flex: 4 1 66vw; 
		justify-content: space-around;
		max-width: 75vw;
	}
	.profile{
		flex: 1 4 25vw; 
		max-width: 25vw;
	}
	.profile img{
		border: 4px solid #fefefe;
	}
	.profile li {
		padding: 10px;
		max-width: 45px;
		max-height: 45px;
	}
	li i {
		font-size: 150%;
	}
	
	/**** SKILLSETS ****/
	.skills h2, .stacks h2, .langs h2, .academic h2, .experiences h2{
		border-left: 6px solid #DD9707;
		padding: 20px 12px;
	}
	.lang p{
		font-size: 100%;
	}
	.level{
		font-size: 150%;
	}
	.experiences{
		background-image: linear-gradient(135deg, #F9F6EEff, #FFF5EEcc);
	}
	.job{
		padding: 10px;
	}
	
	/**** FOOTER ****/
	footer{
		display: block;
		width: 100vw;
		max-width: 100vw;
		overflow: hidden;
		background-image: linear-gradient(225deg, #DD9707ff, #DD9707cc);
	}
	footer h2{
		border-left: 6px solid #fefefe;
		padding: 20px 12px;
	}
	address{
		width: 100%;
	}
	footer ul{
		margin-bottom: 20px;
		justify-content: space-around;
	}
	footer li a{
		font-size: 100%;
	}
	footer i{
		padding: 10px;
		min-width: 45px;
		min-height: 45px;
		max-width: 45px;
		max-height: 45px;
		margin-right: 5px;
	}
	footer form{
		width: 90%;
		margin: 10px auto;
		padding: 10px;
	}
	form input[type=text], input[type=email]{
		width: 40%;
		max-width: 40%;
	}
}

@media only screen and (min-width: 769px) {
	body{
		line-height: 1.5em;
	}
	div {
		/* outline: 1px solid red; */
	}
	h1{
		font-size: 300%;
		line-height: 150%;
	}
	h2{
		font-size: 200%;
	}
	/*** HEADER ***/
	nav{
		height: 45px;
		max-height: 45px;	
	}
	nav ul{
		padding: 0 4%;
	}
	nav li{
		height: 45px;
	}
	nav li a{
		font-size: 100%;
	}
	header .container{
		margin-top: 45px;
		padding: 20px 10%;
		padding-bottom: 20px;
	}
	.intro{
		flex: 4 1 75vw; 
		justify-content: space-around;
		max-width: 85vw;
	}
	.profile{
		flex: 1 4 25vw; 
		max-width: 15vw;
	}
	.profile img{
		border: 5px solid #fefefe;
	}
	.profile li {
		padding: 10px;
		max-width: 45px;
		max-height: 45px;
	}
	li i {
		font-size: 150%;
	}
	/**** SKILLSETS ****/
	.skills, .stacks, .langs, .academic, .experiences{
		padding: 20px 10%;
	}
	.skills h2, .stacks h2, .langs h2, .academic h2, .experiences h2{
		width: 100vw;
		border-left: 6px solid #DD9707;
		padding: 20px 12px;
	}
	.skills, .stacks{
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.skill, .stack{
		display: inline-flex;
		width: 45%;
		padding: 20px;
		justify-content: space-between;
		align-items: center;
	}
	.lang {
		display: inline-flex;
		width: 30%;
		padding: 20px;
		margin-bottom: 20px;
		justify-content: space-between;
		align-items: center;
	}
	.lang img{
		min-width: 25%;
		max-width: 25%;
		height: auto;
		max-height: 15%;
		margin-right: 10px;
		border-radius: 50%;
	}	
	.lang p{
		font-size: 100%;
	}
	.level{
		font-size: 150%;
	}
	.xp {
		width: 50%;
	}
	.xp img{
		min-width: 15%;
		max-width: 15%;
		max-height: 10%;
	}
	.job{
		padding: 5px;
	}
	.job ul {
		padding-left: 15px;;
	}
	.job ul li{
		margin-bottom: 10px;
	}
	.academic{
		justify-content: space-between;
		align-items: stretch;
	}
	.academic div {
		width: 45%;
	}
	.degree{
		width: 40% !important;
		padding: 20px;
	} 
	.institution {
		width: 60% !important;
		padding: 20px;
	}
	.degree{
		justify-content: flex-start;
	}
	.institution{
		justify-content: center;
	}
	.institution p{
		font-size: 100%;
	}
	/**** FOOTER ****/
	footer{
		padding: 20px 10%;
	}
	footer h2{
		border-left: 6px solid #fefefe;
		padding: 20px 12px;
	}
	address{
		margin: 20px auto;
		width: 100%;
	}
	footer ul{
		margin-bottom: 20px;
		justify-content: space-around;
	}
	footer li{
		width: 33%;
	}
	footer li a{
		font-size: 110%;
	}
	footer i{
		font-size: 150%;
		padding: 10px;
		min-width: 45px;
		min-height: 45px;
		max-width: 45px;
		max-height: 45px;
		margin-right: 5px;
	}
	footer form{
		width: 90%;
		margin: 10px auto;
		padding: 20px;
	}
	form input[type=text], input[type=email]{
		width: 40%;
		max-width: 40%;
	}
	form textarea{
		margin-top: 6px;
	}
}